export(gibbs.mu.hier.gaussian)
export(gibbs.sigma.hier.gaussian)
export(hmc)
export(loglikelihood.hier.gaussian)
export(lposterior.hier.gaussian)
export(lprior.hier.gaussian)
export(lprior.nosigma.hier.gaussian)
export(mcmc.hier.gaussian)
export(mh)
export(slice)
